<strong>Olá, {{ organizer }} </strong>
<p>Houve uma nova inscrição na sua MeetUp <strong>{{ title }}</strong>:</p>
<p>
  <strong>Local: </strong> {{ location }} <br />
  <strong>Descrição: </strong> {{ description }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
</p>
